<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <h1>New task</h1>
      <%= form_for @task do |t| %>
        <div class="form-group">
          <%= t.label :title %>
          <%= t.text_field :title, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= t.label :details %>
          <%= t.text_area :details, class: "form-control" %>
        </div>
        <%= t.submit 'Create Task', class: "btn btn-primary" %>
      <% end  %>
      </ul>
      <hr>
      <%= link_to tasks_path do  %>
        <p><i class="fas fa-undo"></i> Back to list</p>
      <% end %>
    </div>
  </div>
</div>













